#works-container {
  @apply(--layout);
  @apply(--layout-center);
  @apply(--layout-center-justified);

  width: 100%;
}

#works-container[small-media] {
  @apply(--layout-vertical);
}

paper-card {
  margin: 1rem;
}

.card-container {
  @apply(--layout);
  @apply(--layout-center);
  padding: 16px;
}

.card-content {
  @apply(--layout-flex-auto):
  padding: 0;
}

.card-category {
  color: rgba(0,0,0,var(--light-secondary-opacity));
}

.card-title {
  font-size: 1rem;
}

paper-icon-button {
  color: #000;
}