link(rel='import',href='../../bower_components/polymer/polymer.html')
link(rel='import',href='../../bower_components/paper-header-panel/paper-header-panel.html')
link(rel='import',href='../hbs-container/hbs-container.html')
link(rel='import',href='../hbs-styles/hbs-styles.html')

dom-module#hbs-header
  template
    style(is='custom-style')
      include hbs-header.css

    #header-container
      paper-header-panel
        .paper-header
          hbs-container
            h1#sitename hbsnow.github.io

  script(src='hbs-header.js')