:root {
  @apply(--hbs-font-common-base);

  line-height: 1.5;
  font-size: 14px;
  font-family: var(--hbs-font-common-base);
  margin: 0;

  --hbs-font-common-base: {
    font-family: --apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
  };

  --hbs-font-common-code: {
    font-family: 'Ricty Diminished', 'Migu 1M', 'Consolas', 'Menlo', monospace;
    -webkit-font-smoothing: antialiased;
  };
}