head
  meta(charset='utf-8')

  title hbsnow.github.io

  meta(name='viewport', content='width=device-width, initial-scale=1')

  //- Data
  meta(name='author', content='hbsnow')
  meta(name='description', content='hbsnowのポートフォリオ。')
  link(rel='canonical', href='/')

  //- Polymer
  link(rel='import' href='/components/import.html')