link(rel='import',href='../../bower_components/polymer/polymer.html')
link(rel='import',href='../../bower_components/iron-icon/iron-icon.html')
link(rel='import',href='../../bower_components/paper-button/paper-button.html')
link(rel='import',href='../hbs-container/hbs-container.html')
link(rel='import',href='../hbs-styles/hbs-styles.html')
link(rel='import',href='../hbs-svg-icons/hbs-svg-icons.html')

dom-module#hbs-aside
  template
    style(is='custom-style')
      include hbs-aside.css

    hbs-container
      aside#aside-container
        #tagline
          p このサイトはhbsnowのポートフォリオであり、また比較的新しい技術の実験の場でもあります。そのため使用しているブラウザが最新のものでない場合、制作者の意図したデザインになっていないことがあるかもしれません.

        #view-source
          a(href='https://github.com/hbsnow/hbsnow.github.io',target='_blank')
            paper-button(raised)
              iron-icon(icon='sns:github')
              span コードを見る

  script(src='hbs-aside.js')